{% extends "base.html" %}
{% load static %}
{% block body %}
<br>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            {% if profile.profile_pic %}
            <img class="rounded-circle mb-4" src="{{ profile.profile_pic.url }}" width="200" height="200" alt="Profile Picture">
            {% else %}
            <img class="rounded-circle mb-4" src="{% static 'img/default-profile-pic.jpg' %}" width="200" height="200" alt="Default Profile Picture">
            {% endif %}
            <h2>{{ profile.user.username }}</h2>
            <p class="lead">{{ profile.name }}</p>
            <p>{{ profile.bio }}</p>
            {% if profile.user.email is not Null %}
                <p>Email: {{ profile.email }}</p>
            {% else %}
                <p>Email: not specified</p>
            {% endif %}

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3>{{ profile.user.username }}'s posts:</h3>
            <div class="list-group">
                {% for post in posts %}
                <a href="{% url 'post-detail' post.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.title }}</h5>
                        <small>
                            {% if post.total_likes > 0 %}
                            <img src="{% static 'img/liked-button.png' %}" width="25" height="25">
                            {% endif %}
                            {{ post.total_likes }}
                        </small>
                    </div>
                    <p class="mb-1">{{ post.text }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
